[build]
  publish = "."
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
<<<<<<< HEAD
=======

[build.environment]
SECRETS_SCAN_ENABLED = "false"
>>>>>>> 724cba0 (Temp pre-rebase commit)
