[build]
  publish = "."
  functions = "netlify/functions"

[[redirects]]
  from = "/api"
  to = "/.netlify/functions/api"
  status = 200

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
[build.environment]
SECRETS_SCAN_ENABLED = "false"
